@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --animate-pan: pan 120s linear infinite;
}

@theme {
  --font-rubik: "Rubik", sans-serif;
}

@keyframes pan {
  0% {
    mask-position: 0% 0%;
  }
  100% {
    mask-position: 100% 0%;
  }
}
